<div class="container">
	<form action="/transaction" method="post" id="loginform" class="form-group">
		<input type="text" name="uname" class="form-control" />
		<input type="password" name="pword" class="form-control"/>
		<input type="submit" name="login" value="Signup" class="form-control btn-primary"/>
	</form>
</div>
