<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/transaction" method="post" id="loginform">
	<input type="text" name="uname" />
	<input type="password" name="pword" />
	<input type="submit" name="login" value="login"/>
</form>
